<!-- Mobile Menu Start -->
<div class="sidebar-nav__wrapper">
    <div class="sidebar-nav__overlay sidebar-nav__toggler"></div>
    <div class="sidebar-nav__content">
        <span class="sidebar-nav__close sidebar-nav__toggler"></span>
        <div class="logo-box">
            <a href="{{ url_for('home') }}" aria-label="logo image">
                <img src="{{ url_for('static', filename='media/logo.png') }}" alt="Project APAW">
            </a>
        </div>
        <div class="sidebar-nav__container"></div>
    </div>
</div>
<!-- Mobile Menu End -->